@font-face {
	font-family: 'PlayfairDisplay-Regular';
	src: url('./FONTS/Playfair_Display/PlayfairDisplay-Regular.ttf');
}

@font-face {
	font-family: 'Ubuntu-light';
	src:url('./FONTS/Ubuntu/Ubuntu-Light.ttf');
}
* {
	margin: 0;
	padding: 0;
	font-family: 'PlayfairDisplay-Regular';
}

.header-content {
	width: 1060px;
	margin: 0 auto 85px;

}

.header-top {
	height: 120px;
	line-height: 135px;
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
	box-sizing: border-box;
}

.logo {
	display: inline-block;
	font-family: 'Inconsolata', monospace;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 6px;
	margin-right: auto;
	line-height: 30px;

}

.top-menu ul {
	list-style: none;
	text-align: right;
	display: flex;
	flex-direction: row;
	min-width: 570px;
	justify-content: space-between;
	letter-spacing: normal;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 30px;
}

.top-menu a {
	text-decoration: none;
	color: #626262;
}
/*
.top-menu ul li:not(:last-child):not(:first-child) {
	margin-left: 40px;
}
*/
/*
 сдвигает вправо все элементы навигации кроме первого и последнего, но
даже тогда перфект пиксель не по макету. или макет под сетку или просто непродуман
*/

section.content {
	max-width: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px auto 0px;

}

section.content h3 {
	margin-top: 5px;
}

.content .comment {
	font-family: 'Ubuntu-light';
	font-size: 14px;
	color: #b4ad9e;
	text-transform: uppercase;
	margin-top: 45px;
	margin-bottom: 80px;
}

article.news {
	max-width: 420px;
	display: flex;
	flex-direction: column;
	margin: 50px 0 85px;

}

.content article p {
	font-size: 14px;
	color: #626262;
	line-height: 1.75;
}

img.preview, h3 {
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 25px;
	color: #626262;
	font-size: 30px;

}

.subscribe-content h2 {
	color: #333333;
}

.subscribe {
	height: 285px;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 55px;
}

.subscribe-content {
	width: 400px;
	height: 140px;
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: column;
}

.subscribe-content h2 {
	margin-left: 10px;
	margin-bottom: 0px;
	margin-top: -7px;
	letter-spacing: 1.2px;
	font-size: 29px;
}

.subscribe-form {
	margin-top: auto;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.btn-subscribe {
	background: url(img/send_icon.png) no-repeat right;
	width: 32px;
	height: 17px;
}

.subscribe-form input[type='email'] {
	border-style: none;
	background-color: #f0f0f0;
	outline: none;
	width: 350px;
	font-size: 14px;
}

	::-webkit-input-placeholder {color:#626262;}
	::-moz-placeholder          {color:#626262;}/* Firefox 19+ */
	:-moz-placeholder           {color:#626262;}/* Firefox 18- */
	:-ms-input-placeholder      {color:#626262;}

.load-more {
	display: block;
	margin: 80px auto 100px;
	width: 160px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid black;
	font-size: 20px;
	color: #626262;
}

footer {
	height: 100px;
	background-color: #f0f0f0;
}

.footer-content {
	width: 1060px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	align-items: flex-end;
	height: 50px;
	font-size: 14px;
	color: #000000;
}

.copyright {
	margin-left: 80px;
}

span {
	margin-right: 20px;
}

i.fa {
	margin-right: 15px;
	font-size: 18px;

}

i.fa:last-child {
	margin-right: 0px;
}

h3.photodiary {
	font-family: 'Ubuntu-light';
	text-transform: uppercase;
	color: #b4ad9e;
	font-size: 14px;
}

.content p.preview {
	height: 70px;
	overflow: hidden;
}
