@font-face {
	font-family: 'PlayfairDisplay-Regular';
	src:url('/FONTS/Playfair_Display/PlayfairDisplay-Regular.ttf');
}
@font-face {
	font-family: 'Ubuntu-light';
	src:url('/FONTS/Ubuntu/Ubuntu-Light.ttf');
}
* {
	margin: 0;
	padding: 0;
}

.header-content {
	width: 1060px;
	margin: 0 auto;
}

.header-top {
	height: 160px;
	line-height: 160px;
	margin-top: 50px;
}

.logo {
	display: inline-block;
	font-family: 'Inconsolata', monospace;
	text-transform: uppercase;
	font-size: 32px;
	letter-spacing: 5px;

}

.top-menu {
	float: right;
}
.top-menu ul {
	list-style: none;
	text-align: right;
	display: flex;
	flex-direction: row;
	min-width: 570px;
	justify-content: space-between;
	font-family: 'PlayfairDisplay-Regular';
	font-size: 15px;

}

/*
.top-menu li {
	display: inline-block;
}
*/
